.stock-raise {
  background-color: #e25252;
}

.stock-raise:hover {
  background-color: #fa4646 !important;
  opacity:0.6;
}

.stock-fall {
  background-color: #6cdf6cc2;
}

.stock-fall:hover {
  background-color: #6cdf6cc2 !important;
  opacity:0.6;
}

.modal-90w {
  width: 90%;
}

.scroll-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 10px;
}

.scroll-table thead {
  display:table;
  width: 100%;
  table-layout:fixed;
}

.scroll-table tbody{
  table-layout: fixed;
  width: fit-content;
  height: 700px;
  overflow-y: scroll !important;
  display:block;
}

.scroll-table tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}

.wrapper {
  overflow-x: scroll auto;
  overflow-y: hidden;
  width: 100%;
}